<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home page</title>
</head>
<body>
    <div class="sidebar">
        <img class="banner" src="{% static 'images/logo.png' %}" alt="nutror logo">
        
        <ul>
            <button id="new-chat">New Chat <i class="fa-solid fa-plus"></i></button>
            <button class="settings">Settings <i class="fa-solid fa-gear"></i></button>
        </ul>
    </div>
    
    <div class="chat-container">
        <div class="chat-header">
            <h3>Nutror</h3>
        </div>
        <div class="chat-box" id="chat-box">
           
        </div>
        <form id="form" class="chat-input" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="imageInput" name="image" style="display: none;">
            <button type="button" id="upload-btn"  onclick="document.getElementById('imageInput').click();"><i class="fa-solid fa-image"></i></button>
            <input type="text" autocomplete="off" id="user-input" name="text" placeholder="Andika Food Yako...">
            <button id="send-btn" type="submit"><i class='bx bx-send'></i></button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const chatBox = document.getElementById('chat-box')
            let form = document.getElementById("form")
            const newChat = document.getElementById('new-chat')
            const userInput = document.getElementById('user-input')
            
            let nutrients
            let extras

            newChat.addEventListener('click', () => {
                chatBox.innerHTML = ''
            })
            form.addEventListener('submit', (e) => {
                const btnExist = chatBox.querySelector('button')
                if (btnExist) {
                    chatBox.removeChild(btnExist);
                }
                e.preventDefault()

                //create a loading display
                const load = document.createElement('p')
                load.textContent = "Loading..."
                chatBox.appendChild(load)
    
                let formData = new FormData(form)
    
                fetch("{% url 'home' %}", {
                    method: "POST",
                    body: formData,
                    headers : {
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    }
                }).then(response => response.json()).then(data => {
                    const extraButton = document.createElement('button')
                    userInput.disabled = false

                    console.log(data)
                    chatBox.removeChild(load)

                    //preparing data rendering
                    //none food items
                    if(!data.nutrients) {
                        const notFood = document.createElement('div')
                        notFood.innerHTML = 
                        `
                        <div>
                            <h2>The model is having problems identifying the food item</h2>
                            <h3>Please try the following options for a fix</h3>
                            <p>Upload a clear image</p>
                            <p>With dimensions greater than 224x224 px</p>
                            <p>The food item image should not be mixed with other items</p>
                            <p>Provide the food name in the input field below</p>
                        </div>
                        `
                        chatBox.appendChild(notFood)
                    } else {
                        nutrients = data.nutrients.benefits.sort((a,b) => b.value - a.value)
                        extras = data.nutrients.extra.sort((a,b) => b.value - a.value)

                        const foodItem = document.createElement('div')
                        foodItem.innerHTML = `
                            <h3>${data.item}</h3>
                            <h4>Nutritional Composition</h4>
                        `

                        
                        const table = document.createElement('table');
                        const extraTable = document.createElement('table');
                        table.innerHTML = `
                            <thead>
                                <tr>
                                    <th>Nutrients</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                    <th>Benefits</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${nutrients.map(item => `
                                    <tr>
                                        <td>${item.name}</td>
                                        <td>${item.value}</td>
                                        <td>${item.unit}</td>
                                        <td>${item.benefit}</td>
                                    </tr>
                                `).join('')}
                            </tbody>
                        `;

                        extraButton.classList.add("button")
                        extraButton.innerHTML = "EXTRA NUTRIENTS"
                        
                        if(data.prob > 0.8) {
                            chatBox.appendChild(foodItem)
                        }
                        chatBox.appendChild(table)
                        chatBox.appendChild(extraButton)

                        extraButton.addEventListener('click', () => {
                            if(extraButton && chatBox.contains(extraButton)) {
                                chatBox.removeChild(extraButton)
                            }
                            
                            extraTable.innerHTML = `
                                <thead>
                                    <tr>
                                        <th>Nutrients</th>
                                        <th>Value</th>
                                        <th>Unit</th>
                                        <th>Benefits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${extras.map(item => `
                                        <tr>
                                            <td>${item.name}</td>
                                            <td>${item.value}</td>
                                            <td>${item.unit}</td>
                                            <td>${item.benefit}</td>
                                        </tr>
                                    `).join('')}
                                </tbody>
                            `;

                            chatBox.appendChild(extraTable)
                        })
                    }
                })
            })

            
            document.getElementById('imageInput').addEventListener('change', (e) => {
                const file = e.target.files[0]

                if(file) {
                    const reader = new FileReader()

                    reader.onload = (e1) => {
                        const image = document.createElement('img')
                        image.src = e1.target.result
                        image.alt = "nutror image"
                        image.classList.add("chat-image")

                        chatBox.appendChild(image)

                        userInput.value = ''
                        userInput.disabled = true

                    }
                    reader.readAsDataURL(file)
                }
            })
        })

    </script>
</body>
</html>