* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left {
    width: 50%;
}
.right {
    width: 50%;
}
img {
    height: 240px;
    width: 240px;
    object-fit: cover;
}